/* <----- Variables -----> */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --font_size: 16px;
    --background: hsl(47, 88%, 63%);
    --color-card: hsl(0, 0%, 100%);
    --color-titles:hsl(0, 0%, 7%);
    --color-text: hsl(0, 0%, 42%);
    --fontsfam: "Figtree", sans-serif; 
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
figure {
    all: unset;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    font-family: var(--fontsfam);
}
.card {
    min-width: 327px;
    max-width: 350px;
    min-height: 500px;
    max-height: 525px;
    font-weight: 500;
    border-radius: 20px;
    border: black ridge 1px ;
    box-shadow: 9px 9px 1px 0px rgba(0, 0, 0, 1);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-card);
    padding: 20px;
}
.img-ilustration {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
}
.info{
    width: 100%;
    height: 175px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .state{
        width: 30%;
        height: 30px;
        background-color: var(--background);
        text-align: center;
        padding: 6px;
        border-radius: 6px;
        font-weight: 800;
    }
    .date {
        font-size: 12px;
    }
    h2{
        font-weight: 800;     
    }
    h2:hover{
        color: var(--background);
    }
    .text {
        color: var(--color-text);
        font-weight: 500;
        line-height: 22px;
    }
}
.user {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    img{
     width: 32px;
     border-radius: 50%;
     margin-right: 15px;
    }
    p{
        font-weight: 800;
    }
}
.user:hover{
    color: var(--background);
}
.attribution { 
    width: 100%;
    text-align: center;
    font-size: var(--font_size);
    position: absolute;
    top: 95%;
    a { 
        color: hsl(228, 45%, 44%); 
        text-decoration: none;
      }
}
